* {
  margin: 0;
  padding: 0;
  font-family: 'Zilla Slab';
}

body {
	overflow-x: hidden;
    box-sizing: border-box;
}

.thinkful {
    text-decoration: none;
    color: #95A5A6
}

.headshot {
    border-radius: 50%;
    border: 5px solid #ECECEC;
    display: inline-block;
    width: 150px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    text-align: center;
    width: 100%;
    padding-bottom: 120px;
    background-color: #2C3E50; 
}


h3 {
    color: #ECECEC;
    font-size: 30px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

p {
    color: #ECECEC;
    font-size: 20px;
}

span {
    font-size: 25px;
    margin-bottom: 15px;
}

.projects {
    background-color: #ECECEC;
    width: 100%;
    height: auto;
    color: #2C3E50;
    padding-bottom: 120px;
}

#moods, #lists, #one {
    height: auto;
    width: 600px;
}

nav {
    background-color: #2C3E50;
    position: fixed;
    width: 100%;
    padding-bottom: 13px;
    margin-bottom:20px;
}

h1 {
    padding-top:50px;
    text-align: center;
    font-size: 48px;
}

h2 {
    margin-left: 50px;
    margin-top: 80px;
    font-size: 40px;
}

.live {
    margin-left: 50px;
    border: 2px solid #2C3E50;
    color: #2C3E50;
    font-size: 18px;
    padding: 10px;
    border-radius: 3px;
}

.code {
    border: 2px solid #2C3E50;
    color: #2C3E50;
    font-size: 18px;
    padding: 10px;
    border-radius: 3px;
}

.tag-line {
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    line-height: 1.4;
    font-size: 25px;
}

button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 20px;
}

.about {
    background-color: #2C3E50;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bio {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 30px;
 
}

.credit {
    color: #2C3E50;
    padding-left: 30px;
    font-size: 10px;
    padding-bottom: 15px; 
}

footer {
    background-color: #ECECEC;
}

#bio {
    padding-bottom: 100px;
    padding-top: 20px;
}

.nav {
    margin-top: 8px;
    font-size: 23px;
}

h3 {
    font-size: 32px;
}

.about-heading {
    color: #ECECEC;
}

.fydd {
    width: 380px;
    box-shadow: 0 0 20px #D3D3D3;
    height: 200px;
    
}
.ss2 {
    width: 407px;
}

.images {
    margin-top: 40px;
    margin-bottom: 20px;

}

.description {
    color: #2C3E50;
    width: 1100px;
    margin-left: 45px;
    margin-top: 30px;
}

.contact {
    background-color: #ECECEC;
    height: 500px;
    color: #2C3E50;

}

.contact-heading {
    color: #2C3E50;
}

.email {
    color: #2C3E50;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.connect {
    color: #2C3E50;
    text-align: center;
    font-size: 30px;
}

.underline {
    border-bottom: 2px solid;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.underline2 {
    border-bottom: 2px solid;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

.p1 {
    border-bottom: 2px solid;
    padding-bottom: 50px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.p2 {
    padding-bottom: 50px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

i {
    color: #2C3E50;
    text-align: center;
    font-size: 50px;
}

.social-icons {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: auto;
    margin-top: 20px;
}

#linkedin {
    margin-left: 40px;
    font-size: 50px;
}

#github {
    font-size: 50px;
}

#email {
    text-decoration: none;
    color: #95A5A6;
}

.icon {
    margin-top: 15px;
}

.images {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap !important;
	justify-content: space-around;
}



@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
{

    html, nav {
        width: 375px;
    }
    .tag-line, .p1, .p2 {
        width: 100%;
    }
    .description {
        width: 80%;
        margin-right: 0px;
    }
   
    .images {
        flex-direction: column;
    }
    .images {
        display: block;
    }
    .projects {
        width: 100%;
        height: auto;
    }
    .fydd {
        display: block;
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }

    #moods, #lists, #one {
        width: 80%;
        height: auto;
    }

   

    .bio {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .p1, .p2, #Portfolio, nav {
          width: 768px;
      }
      .description {
          width: 640px;
      }
      .tag-line {
          width: auto;
      }
      .projects {
         
          height: auto;
      }

  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
      .p1, .p2, #Portfolio, nav {
          width: 1024px;
      }
      .description {
          width: 950px;
      }
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  
    .tag-line, .p1, .p2 {
        width: 100%;
    }
    .description {
        width: 80%;
    }
   
    .images {
        flex-direction: column;
    }
    .images {
        display: block;
    }
    .projects {
        width: 100%;
        height: auto;
    }
    .fydd {
        display: block;
        width: 100%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }

    #moods, #lists, #one {
        width: 80%;
        height: auto;
    }

    .bio {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .email, .connect {
        width: 320px;
        font-size: 25px;
    }  
    .nav {
        font-size: 17px;
    }  
    .live {
        margin-left: 38px;
    }   

}